<div class="text-white container-fluid bloop d-none p-5 bg-white">
  <div class="p-5 container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-center">
          <h1 class="display-3 text-black fw-bold mb-4">
            Welcome to the Blog Platform
          </h1>
          <p class="lead text-black mb-5">
            A platform where you can read and share stories on various
            topics.
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <img src="../assets/idea.jpg" alt="About" class="img-fluid object-cover rounded-lg" />
      </div>
    </div>
  </div>
</div>

<!-- in use -->
<section class="bg-white pb-5">
  <div class="container-fluid text-white bg-white">
    <div class="row align-items-center justify-content-center d-flex text-center">
      <!-- 1 -->
      <div class="col-6 px-5">
        <h1 class="display-3 text-black fw-bold mb-4">
          Welcome to the Blog Platform
        </h1>
        <p class="lead text-black mb-5">
          A platform where you can read and share stories on various
          topics.
        </p>
      </div>
      <!-- 2 -->
      <div class="col-6">
        <img src="../assets/idea.jpg" alt="About" class="img-fluid object-cover rounded-lg w-75"/>
      </div>
    </div>
  </div>
</section>
