/* Style for clamp-3-lines class */
.clamp-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.img-style {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
