<div class="container mt-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top" style="top: 4.5rem">
          <div class="bg-white shadow-lg rounded p-4 mt-2">
            <h2 class="text-xl font-bold mb-4">Categories</h2>
            <div class="row">
              <div class="col-md-6" *ngFor="let category of categories">
                <button
                  class="btn btn-outline-primary mb-2"
                  [ngClass]="{
                  'btn-primary': activeCategory === category,
                  'text-white': activeCategory === category,
                  'btn-light': activeCategory !== category,
                }"
                  (click)="handleCategoryChange(category)"
                  [attr.data-active]="activeCategory === category ? true : null"
                  type="button"
                >
                  {{ category }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="bg-white shadow-lg rounded-lg p-4">
          <h2 class="text-2xl font-bold mb-4">Thoughts</h2>
          <div>
            <div *ngFor="let blog of filteredBlogs">
              <app-blogs [blog]="blog"></app-blogs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
