<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div *ngIf="blog.length > 0; else noBlogPosts">
  <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 dark:bg-gray-900 dark:text-white min-h-screen" style="background-color: #111827;">
    <div class="container justify-content-between px-4">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <article class="card shadow mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-4">
                <!-- Profile picture, author, and category on the left -->
                <div class="text-sm text-gray-900 dark:text-white">
                  <img class="w-8 h-8 mr-3 rounded-circle img-style" src="assets/man.png" alt="" />
                  <div>
                    <h5 class="mb-0">{{ blog[0].author }}</h5>
                    <p>
                      <span class="badge badge-primary">{{ blog[0].category }}</span>
                    </p>
                  </div>
                </div>

                <!-- Date on the right -->
                <div class="text-sm text-gray-900 dark:text-white">
                  <p>{{ formatDate(blog[0].creationDate) }}</p>
                </div>
              </div>
              <h1 class="card-title mb-4 text-3xl font-extrabold text-gray-900">
                {{ blog[0].title }}
              </h1>
              <p class="lead">{{ blog[0].content }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #noBlogPosts>
  <div class="container">
    <p class="text-white">No blog posts found.</p>
  </div>
</ng-template>
