<div class="container d-flex justify-content-center px-5 pt-4 mb-5">
  <div class="row align-items-center">
    <div class="col-12  mx-auto">
      <!-- form -->
      <form>
        <!-- <div class="d-flex">
          <img class="mb-4 justify-content-center h-img mx-auto" src="../assets/logo11.png" alt="" />
        </div> -->
        <!-- box -->
        <div class="h-box p-4 mx-auto">
          <h1 class="h3 mb-3 fw-normal text-center text-white">
            Create an account and elevate your experience!
          </h1>
          <!-- login -->
          <div class="flex-column">
            <!-- email -->
            <div class="mb-3">
              <label class="form-label text-white">Email</label>
              <input type="email" class="form-control" id="floatingInput" formControlName="email"
                placeholder="Enter Email" />
            </div>
            <!-- password -->
            <div class="mb-3">
              <label class="form-label text-white">Password</label>
              <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                placeholder="Enter Password" />
            </div>
            <!-- re-password -->
            <div class="mb-3">
              <label class="form-label text-white">Confirm Password</label>
              <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                placeholder="Enter Confirm Password" />
            </div>
            <!-- button -->
            <div class="pt-3">
              <button class="w-100 btn btn-lg bg-600 text-white big-b" type="submit">
                Sign Up
              </button>
            </div>

            <!-- other -->
            <div class=" pt-3 row">
              <p class="mb-0 mt-2 under-txt text-white">Already have an account yet?
                <button type="button" class="btn pb-1 p-0">Log In</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
